@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* font-styles */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.container{
    width: 870px;
    padding: 33px 50px 42px 30px;
    background-color: #FFFFFF;
    margin-bottom: 21px;
}
/* .all-players{
    padding: 33px 50px 42px 30px;
} */
.all-players{
    margin-bottom: 30px;
    
}
.title{
    color: #562EFF;
    font-size: 20px;
    padding-bottom: 2%;
    margin-top: 0px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 29px;
    /* grid-column-gap: 20px; */
}
.player{
    display: flex;
    align-items: center;
}

/* player's images & names */
.player img{
    width: 56px;
}
.player h2{
    font-size: 18px;
    margin-left: 16px;
}
/* horizontal line */
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 30px;
}
/* section1part2starts */
.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 26px;
}
.blog-image img{
    width: 177px;
}
.blog-author h2{
    font-size: 20px;
}
/* section1part2ended
&
section2starts
*/
.course-infos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
}
.course-images img{
    width: 224px;
    height: 104px;
}
.course-details{
    display: flex;
    justify-content: space-between;
    padding-left: -10px;
}
.fa-star.filling{
    color: #FFC014;
}
.fa-star.individual-filling{
    color: #AEAEAE;
}
/* section2ended */